{
  "env": {
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": "airbnb",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "globals": {
    "afterEach": false,
    "afterAll": false,
    "beforeEach": false,
    "beforeAll": false,
    "jest": false,
    "document": false,
    "window": false,
    "global": false,
    "require": false,
    "expect": false,
    "should": false,
    "chai": false,
    "sinon": false,
    "Power2": false,
    "Sine": false,
    "__DEVELOPMENT__": false
  },
  "rules": {
    "max-len": ["error", 100, { "ignoreComments": true }],
    "new-cap": ["warn", {"capIsNewExceptions": [
        "ATMiddleware",
        "ATGlobalMiddleware",
        "Immutable",
        "Map",
        "List",
        "Set",
        "OrderedSet",
        "Range",
        "Moment",
        "Linker"
    ]}],
    "comma-dangle": ["warn", "always-multiline"], // disallow or enforce trailing commas
    "curly": ["warn", "multi-or-nest"], // specify curly brace conventions for all control statements
    "indent": ["warn", 4, {"SwitchCase": 1}], // this option sets a specific tab width for your code (off by default)
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }], // enforce one true brace style (off by default)
    "key-spacing": ["warn", {"beforeColon": false, "afterColon": true}], // enforces spacing between keys and values in object literal properties
    "quotes": ["warn", "single", "avoid-escape"], // specify whether double or single quotes should be used
    "keyword-spacing": ["warn", {"before": true, "after": true}], // require a space after certain keywords (off by default)
    "linebreak-style": [0],
    "arrow-parens": [0],
    // Import
    "import/no-extraneous-dependencies": [0],
    "import/prefer-default-export": [0],
    // React
    "react/jsx-indent-props": ["warn", 4]
  }
}
